[submodule "Monix2.0"]
	path = Monix2.0
	url = git@github.com:ClubNix/Monix2.0.git
[submodule "Monix2.0Back"]
	path = Monix2.0Back
	url = git@github.com:ClubNix/Monix2.0Back.git
[submodule "Monix2.0Front"]
	path = Monix2.0Front
	url = git@github.com:ClubNix/Monix2.0Front.git
